.vscode
assets/fonts/*
!assets/fonts/Poppins-Regular.ttf

build/
Build/
bin/
lib/
dist/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

*.dwo
*.d
*.suo
*.pdb
*.ilk


.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

.idea/
*.iws
*.iml


.vs/
*.sln
*.vcxproj
*.filters
*.user


.DS_Store
Thumbs.db
*~
*.swp
*.save


*.gcov
*.gcda
*.gcno
html/
latex/